@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #e0f0ff; 
    margin: 0;
    padding-top: 50px;
}

header {
	position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%; 
}

.site-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 36px; 
    font-weight: bold;
    color: #007bff;
    text-decoration: none; 
}

.site-title:hover {
    color: #0056b3;
    cursor: pointer;
}

.screen-title {
    font-size: 24px;
    font-weight: bold;
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

header button {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    color: white;
    width: 10em;
    height: 3em;
}

header button:hover {
    background-color: #0056b3; 
}

.home-post-title {
    text-align: center;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin: 5px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; 
    display: inline-block; 
    width: 100%;
    max-width: 800px;
}

.posts-container {
	width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 40px;
}


.post-content {
    font-size: 1em;
    text-align: left;
    margin-bottom:5px;
}


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-date {
    text-align: right;
    color: #6c757d;
}

.post-user {
	text-align: left;
    font-weight: bold;
    color: #007bff;
	text-decoration: underline; 
    cursor: pointer;
    font-size: 20px;
}

.post-user:hover {
    color: #0056b3;
	cursor: pointer; 
}

.post-title {
	text-align: left;
    font-weight: bold;
    color: #007bff;
	text-decoration: underline; 
    cursor: pointer; 
    margin:0;
    font-size: 20px;
}

.post-title:hover {
    color: #0056b3;
	cursor: pointer; 
}

.settings-panel {
    position: fixed;
    left: 0;
    top: 60px;
    width: 250px;
    padding: 10px 20px;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-id {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}