body {
    font-family: Arial, sans-serif;
    background-color: #e0f0ff; 
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff; 
    padding: 10px 20px;
    text-align: right;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header button {
    color: white;
    background-color: #007bff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 10px;
    min-width: 100px;
    width: 10em;
    height: 3em;
}

header button:hover {
    background-color: #0056b3; 
}

table {
    margin: 20px auto;
    width: 50%;
}

textarea {
    height: 150px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button#new-post-button {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    width: 10%;
    border-radius: 50px; 
}

button#new-post-button:hover {
    background-color: #0056b3;
}

div#error-message {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
