@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #e0f0ff;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: fixed;
    width: 100%; 
}

.signOutButton{
	margin-right: 10px;
}

.site-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 36px; 
    font-weight: bold;
    color: #007bff;
    text-decoration: none; 
}

.site-title:hover {
    color: #0056b3;
    cursor: pointer;
}

.screen-title {
    font-size: 24px;
    font-weight: bold;
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

header button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    color: white;
    width: 10em;
    height: 3em;
}

header button:hover {
    background-color: #0056b3;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-date {
    text-align: right;
    color: #6c757d;
}

.post-user {
	text-align: left;
}

.post-container {
    max-width: 800px;
    position: sticky;
    top:0;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

.post-title {
    font-size: 1em;
    text-align: left;
}

.post-content {
    font-size: 1em;
    margin-bottom: 10px;
    text-align: left;
}

.post {
	padding-top: 60px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
    display: inline-block; 
    width: 100%;
    position: relative;
    z-index: 2;
}

.h2 {
	margin-block-end:0px;
	margin-block-start:0px;
}

.comment-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.comment-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
}

#content {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#submitComment {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

#submitComment:hover {
    background-color: #0056b3;
}

.post-user {
	text-align: left;
    font-weight: bold;
    color: #007bff;
	text-decoration: underline; 
    cursor: pointer; 
}

.post-user:hover {
    color: #0056b3;
	cursor: pointer; 
}

#comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.comments {
    background-color: #d1e7ff;
    border-radius: 8px;
    margin: 10px 0;
    width: 700px; 
    
}

.comment-header {
    background-color: #00ECFF;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    font-weight: bold;
}

.comment-date {
    font-size: 0.9em;
}

.comment-header-top {
    text-align: left;
}

.comment-header-bottom {
    text-align: right;
    font-size: 0.9em;
}

.content {
    background-color: #C2EEFF;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: left;
}

.comment-content {
    margin: 0;
}

.comments-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 775px;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%); 
    position: fixed; 
    z-index: 1;
}

#comments-title {
    font-weight: bold;
    font-size: 1em;
    padding: 0 5px;
    position: absolute;
    top: -27px;
    left: 0;
}

.comments-divider::before {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: #000;
}

.user-name-comment {
	color: blue;
    text-decoration:underline;
	cursor: pointer;
}
