@charset "UTF-8";
/* エラーのスタイル */
.error {
	border: 1px solid red;
}
/* 入力フィールドの成功のスタイル */
.success {
	border: 1px green;
}

/*  ヒントのデフォルトスタイル */
.hint {
	color: red;
}

/*  ヒントの有効スタイル */
.valid{
	color: blue;
}

/* 無効なボタンスタイル　*/
.disabled{
	opacity:0.5;
	cursor: not-allowed;
}

/* テキストボックスの基本スタイル */
input[type="text"], input[type="password"], input[type="email"] {
    border: 2px solid #ccc; /* デフォルトの枠線スタイル */
    padding: 5px; /* パディング */
    width: 100%; /* 幅を100%に設定 */
    box-sizing: border-box; /* パディングを含む */
}

/* フォーカス時の枠線スタイル */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: 1px solid #666; /* フォーカス時の枠線スタイル */
    outline: none; /* デフォルトのアウトラインを削除 */
}
