@charset "UTF-8";

.password-container {
	position: relative;
}
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
input[type="password"] {
    width: calc(100% - 30px); /* Adjust width to fit icon */
}