@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #e0f0ff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}

.site-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 36px; 
    font-weight: bold;
    color: #007bff;
    text-decoration: none; 
}

.site-title:hover {
    color: #0056b3;
    cursor: pointer;
}

.screen-title {
    font-size: 24px;
    font-weight: bold;
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

header button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    color: white;
    width: 10em;
    height: 3em;
}

header button:hover {
    background-color: #0056b3;
}

.user-name-title {
    text-align: center;
    margin-top: 20px;
}

.post {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    justify-content: space-between;
}

#poster {
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
}

.post-content {
    font-size: 1em;
    text-align: left;
}
.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
    display: inline-block; 
    width: 100%;
}

.post-date {
    text-align: right;
    color: #6c757d;
}

.post-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.post-title {
	text-align: left;
    font-weight: bold;
    color: #007bff;
	text-decoration: underline; 
    cursor: pointer; 
    margin:0;
}

.post-title:hover {
    color: #0056b3;
	cursor: pointer; 
}
