<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>サインアップ画面</title>
<script type="text/javascript" th:src="@{/js/sign-up.js}"></script>
</head>
<body>
	<!--header-->
	<header>
		<button type="button">Home</button>
		<button type="button">Login</button>
	</header>
	<table>
		<span>サインアップ</span>
		<tr>
			<td>
				<label>ユーザ名</label>
			</td>
			<td>
				<input type="text" id="user-name">
			</td>
		</tr>
		<tr>
			<td>
				<label>ユーザID</label>
			</td>
			<td>
				<input type="text" id="user-id">
			</td>
		</tr>
		<tr>
			<td>
				<label>パスワード</label>
			</td>
			<td>
				<input type="password" id="password">
			</td>
		</tr>
		<tr>
			<td>
				<label>確認用パスワード</label>
			</td>
			<td>
				<input type="password" id="con-password">
			</td>
		</tr>
		<tr>
			<td>
				<label>メールアドレス</label>
			</td>
			<td>
				<input type="email" id="email">
			</td>
		</tr>
	</table>
	<button type="button" onclick="clickSignUpButton()">サインアップ</button>
</body>
</html>