<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>サインイン画面</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" th:src="@{/js/sign-in.js}"></script>
		<script type="text/javascript" th:src="@{/js/common/messages.js}"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/sign-in.css}">
</head>

<body>
	<!--header-->
	<header>
		<button type="button" class="homeButton" onclick="location.href='/home'">Home</button>
	</header>
	<div class="logoContainer">
        <img src="/img/logo10ch.webp" class="logo">
    </div>
	<form id="sign-in-form">
		<table>
			<tr>
				<td>
					<input type="text" id="user-id" class="inputUserId" placeholder="ユーザIDまたはemail">
				</td>
			</tr>
			<tr>
				<td class="password-container">
					<input type="password" id="password" class="inputPass" placeholder="パスワード">
					<i class="fas fa-eye password-toggle" id="toggle-password"></i>
				</td>
			</tr>
		</table>
		<div id="error-message" class="hint" style="color:red;"></div>
		<button type="button" id="sign-in-button" class="signInButton">Sign In</button>
	</form>
	<p>アカウントを登録していない方は<a href="/sign-up">こちら</a>をクリックし登録を済ませてください。</p>
</body>

</html>