<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザ情報画面</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/user-info.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/messages.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/user-info.css}">
</head>

<body>
	<header>
		<div class="header-left">
			<a href="/home" class="site-title">10ch</a>
		</div>
		<div class="header-right">
			<button type="button" onclick="location.href='/posts/new'">NEW-POST</button>
			<button type="button" onclick="location.href='/sign-out'">SIGN-OUT</button>
		</div>
	</header>
	<form id="update-user-info-form">
			<div class="formTitle">アカウント情報更新</div>
			<table>
				<tr>
					<td class="labelContainer">
						<label>ユーザID</label>
					</td>
					<td>
						<input type="text" id="user-id" th:value="${userId}">
						<div id="user-id-hint" class="hint">ユーザIDは半角英数字の3〜15文字で入力してください</div>
					</td>
				</tr>
				<tr>
					<td class="labelContainer">
						<label>ユーザ名</label>
					</td>
					<td>
						<input type="text" id="user-name" th:value="${userName}">
						<div id="user-name-hint" class="hint">ユーザ名は1〜10文字で入力してください</div>
					</td>
				</tr>
				<tr>
					<td class="labelContainer">
						<label>現在のパスワード</label>
					</td>
					<td class="password-container">
						<input type="password" id="now-password">
						<div id="now-password-hint" class="hint">現在のパスワードを入力してください</div>
					</td>
				</tr>
				<tr>
					<td class="labelContainer">
						<label>新しいパスワード</label>
					</td>
					<td class="password-container">
						<input type="password" id="new-password">
						<div id="new-password-hint" class="hint">パスワードは半角英数字の組み合わせで8文字以上で入力してください</div>
					</td>
				</tr>
				<tr>
					<td class="labelContainer">
						<label>確認用パスワード</label>
					</td>
					<td class="password-container">
						<input type="password" id="con-password">
						<div id="con-password-hint" class="hint">パスワードが一致しません</div>
					</td>
				</tr>
				<tr>
					<td class="labelContainer">
						<label>メールアドレス</label>
					</td>
					<td>
						<input type="email" id="email" th:value="${email}">
						<div id="email-hint" class="hint">有効なメールアドレスを入力してください</div>
						<div id="error-message" class="hint" style="color:red;"></div>
					</td>
				</tr>
			</table>
		<button type="button" id="update-button" class="update-button" disabled>更新</button>
	</form>
</body>

</html>